{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "react-hooks"],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "rules": {
        "no-console": 2,
        "react-hooks/exhaustive-deps": "warn",
        "@typescript-eslint/no-use-before-define": "off"
    }
}
